<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <div class="d-flex flex-wrap m-b-30">
                    <div>
                        <h3 class="card-title"><span class="lstick"></span>EJEMPLO DE GRAFICAS DE BARRAS</h3>
                    </div>
                </div>
                <p class="text-danger">ESTO ES UN EJEMPLO, NO ES INFORMACION REAL</p>


                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Seleccione un medicamento</label>
                            <select class="custom-select" name="idusuario_tipo" required="">
                        <option value="1" ng-reflect-value="1">Ejemplo medicamento 1</option>
                        <option value="2" ng-reflect-value="2">Ejemplo medicamento 1</option></select>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Seleccione una fecha</label>
                            <angular2-date-picker [(ngModel)]="date" [settings]="settings"></angular2-date-picker>
                        </div>
                    </div>
                </div>

                <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend" [chartType]="barChartType" [colors]="barChartColors">
        </canvas>
                <div class="row">
                    <button class="btn btn-danger" (click)="randomize()">Valor aleatorio</button>
                </div>
            </div>

        </div>
    </div>

    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <div class="d-flex flex-wrap m-b-30">
                    <div>
                        <h3 class="card-title"><span class="lstick"></span>EJEMPLO DE GRAFICAS DE BARRAS</h3>
                    </div>
                </div>
                <p class="text-danger">ESTO ES UN EJEMPLO, NO ES INFORMACION REAL</p>


                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Seleccione un medicamento</label>
                            <select class="custom-select" name="idusuario_tipo" required="">
                  <option value="1" ng-reflect-value="1">Ejemplo medicamento 1</option>
                  <option value="2" ng-reflect-value="2">Ejemplo medicamento 1</option></select>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Seleccione una fecha</label>
                            <input class="form-control" type="date">
                        </div>
                    </div>
                </div>

                <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend" [chartType]="barChartType" [colors]="barChartColors">
          </canvas>
                <div class="row">
                    <button class="btn btn-danger" (click)="randomize()">Valor aleatorio</button>
                </div>
            </div>

        </div>
    </div>

</div>