<div class="row">
    <div class="col-lg-12" *ngIf="loading">
        <div class="card">
            <div class="card-body">
                <div class="sk-folding-cube sk-spinner">
                    <div class="sk-cube1 sk-cube"></div>
                    <div class="sk-cube2 sk-cube"></div>
                    <div class="sk-cube4 sk-cube"></div>
                    <div class="sk-cube3 sk-cube"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12 animated bounceInLeft slow" *ngIf="!loading">
        <div class="card">
            <div class="card-body">
                <div class="d-flex flex-wrap m-b-30 row">
                    <h3 class="card-title col-md-6"><span class="lstick"></span>Reporte de Tratamientos</h3>
                    <div class="card-body bg-light-primary col-md-6" style='padding: 10px;'>
                        <div class="row p-t-0 p-b-0 ">
                            <div class="col p-r-0 ">
                                <h6 class="font-bold">TOTAL PENDIENTE:</h6>
                                <h3 class="font-light ">{{total_pendiente|currency}}</h3>
                                <button type="button" class="btn waves-effect waves-light btn-rounded btn-sm btn-primary" (click)="open(content)">Ver detalle</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-3 ">
                    <div class="col-md-3 ">
                        <div class="form-group font-bold ">
                            <label class="control-label ">Inicio</label>
                            <angular2-date-picker [(ngModel)]="date " [settings]="settings "></angular2-date-picker>
                        </div>
                    </div>

                    <div class="col-md-3 ">
                        <div class="form-group font-bold ">
                            <label class="control-label ">Fin</label>
                            <angular2-date-picker [(ngModel)]="date2 " [settings]="settings "></angular2-date-picker>
                        </div>
                    </div>

                    <div class="col-md-5 mt-3 ">
                        <div class="form-group ">

                            <button class="btn btn-primary m-t-15 m-r-10 " (click)="cargarGrafica() " type="button "><i class="fa fa-search "></i> Buscar</button>


                        </div>
                    </div>




                </div>


            </div>

            <canvas *ngIf="barChartData[0].data.length> 0" baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend" [chartType]="barChartType" (chartHover)="chartHovered($event)" [colors]="barChartColors"
                (chartClick)="chartClicked($event)">
                        </canvas>
            <div class="alert alert-danger mt-5 m-l-30 m-r-30" role="alert" *ngIf="barChartData[0].data.length == 0">
                No hay datos en este rango seleccionado
            </div>

        </div>
    </div>
    <div class="col-12 animated bounceInLeft slow" *ngIf="!loading && barChartData[0].data.length> 0">
        <div class="card">
            <div class="card-body">
                <div class="d-flex flex-wrap m-b-30">
                    <h3 class="card-title"><span class="lstick"></span>Detalle</h3>
                </div>
                <table class="zui-table zui-table-rounded m-b-lg">
                    <thead>
                        <tr>
                            <th>Fecha</th>
                            <th>Monto MXN</th>
                            <th>Método de Pago</th>
                            <th>Paciente</th>
                            <th>Cajero</th>
                            <th>Tipo de Cambio</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let registro of data_tabla">
                            <td>{{registro.fecha | date: 'd/M/yy, h:mm a'}}</td>
                            <td>{{registro.monto | currency}}</td>
                            <td>{{registro.metodo}}</td>
                            <td>{{registro.paciente}}</td>
                            <td>{{registro.usuario}}</td>
                            <td>{{registro.tipo_cambio}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Dettalle pendientes de pago</h4>
        <button type="button" class="close" aria-label="Close" (click)="d()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Fecha</th>
                        <th>Paciente</th>
                        <th>Tratamiento</th>
                        <th>Total</th>
                        <th>Restante</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of pendiente_cobro">
                        <td>{{item.fecha_registro | date: 'd/M/yy, h:mm a'}}</td>
                        <td>
                            {{item.paciente}}
                        </td>
                        <td>{{item.nombre}}</td>
                        <td>{{item.precio_tratamiento | currency}}</td>
                        <td class="font-weight-bold text-danger">{{item.pendiente | currency}}</td>

                    </tr>
                    <tr>
                        <td colspan="4" class="font-weight-bold text-right text-danger">TOTAL</td>



                        <td class="font-weight-bold text-danger">{{total_pendiente_cobro | currency}}</td>

                    </tr>





                </tbody>
            </table>
        </div>
    </div>

</ng-template>